.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.App a:hover{
  color: cyan;
}

.App-content {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  grid-gap: 10px;
  font-size: 20px;
}
